<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta image='images/logo.png'>

    <meta image='images/logo.png'>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hashed.network/">
  <meta property="og:title" content="Digitally Native Businesses on Polkadot">
  <meta property="og:description" content="Hashed Network enables the full business lifecycle for digitally-native organizations and web3-curious businesses seeking benefits of decentralized digital economies.">
  <meta property="og:image" content="https://hashed.network/images/logo.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://hashed.network/">
  <meta property="twitter:title" content="Digitally Native Businesses on Polkadot">
  <meta property="twitter:description" content="Hashed Network enables the full business lifecycle for digitally-native organizations and web3-curious businesses seeking benefits of decentralized digital economies.">
  <meta property="twitter:image" content="https://hashed.network/images/logo.png">


    {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
    {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
    {{ block "head/favicons" . }}{{ partial "head/favicon.html" . }}{{ end }}
  </head>