{{ define "main" }}
<div class="bg-hashed">
  <section class="hashedteam">
    <div class="wrapper">
      <div class="title-1">Meet our</div>
      <div class="title-1 text-gradient">awesome team</div>
      <div class="title-4 subtitle text-book">
        With 20+ years of developing software for businesses, 
        we have focused solely on blockchain since 2017. 
        We have 12+ Dapps in production across EOSIO, 
        Ethereum and Substrate with thousands of active monthly users.
      </div>
    </div>
    <div class="container flex-container">
      <div class="flex-container member-flex">
                  
        <div class="member-container">
          <img class="member-image " src="{{ "images/members/max.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Max</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Co-founder
              </div>
              <div class="btn-chip caption-1">
                Architect
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/sebastian.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Sebastian</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Co-founder
              </div>
              <div class="btn-chip caption-1">
                Architect
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/augusto.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Augusto</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Co-founder
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/daniel.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Daniel</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Front-end Developer
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/erick.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Erick</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                BlockChain Lead
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/alejandro.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Alejandro</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Front-end Developer
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/didier.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Didier</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Blockchain Developer
              </div>
            </div>
          </div>
        </div>

        <div class="member-container">
          <img class="member-image" src="{{ "images/members/jose.png" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Jose Maria</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Front-end lead
              </div>
            </div>
          </div>
        </div>
        <div class="member-container">
          <img class="member-image" src="{{ "images/members/lorene.jpg" | absURL }}" alt="Hashed member">
          <div class="member-overlay flex-container">
            <div class="member-name body-1">Lorene</div>
            <div class="flex-container member-chips">
              <div class="btn-chip caption-1">
                Operations 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}