@font-face
  font-family: "Akzidenz Grotesk"
  font-style: normal
  font-weight: 600
  src: url("../fonts/akzidenz-grotesk/AkzidenzGroteskBQ-Medium.ttf")

@font-face
  font-family: "Akzidenz Grotesk Super"
  font-style: normal
  font-weight: 700
  src: url("../fonts/akzidenz-grotesk/AkzidenzGroteskBQ-Super.otf")

@font-face
  font-family: "Avantgarde"
  font-style: normal
  font-weight: 400
  src: url("../fonts/avantgarde/AvantGarde LT Book Regular.ttf")

@font-face
  font-family: "Avantgarde"
  font-style: normal
  font-weight: 600
  src: url("../fonts/avantgarde/AvantGarde LT Book Bold.ttf")