$white: #ffffff
$dark: #000000
$green: #2fdcb6
$dark-2: #141b26
$grey: #CDD6DB;
$bg-banner: #290266
$base-line-height: 30px
$layout-breakpoint-tablet: 800px
$layout-breakpoint-phone: 400px

$gradient-primary: linear-gradient(106deg, #32E4B6 0%, #086EB1 100%)
$gradient-black:  linear-gradient(to bottom, black 45%, transparent )
$gradient-dark: linear-gradient(90deg, #000000 0%, #000000F5 30%, #00000000 100%)
$gradient-dark-2: linear-gradient(269deg, #000000 0%, #000000F5 30%, #00000000 100%)
$gradient-card: linear-gradient(180deg, #000000 0%, #151A22 100%)
$gradient-partners: linear-gradient(181deg, #000000 0%, #000000F5 27%, #00000000 100%)

$breakpoint-xs: 320px
$breakpoint-sm: 480px
$breakpoint-md: 600px
$breakpoint-lg: 801px
$breakpoint-xl: 1025px
$breakpoint-xxl: 1281px
$breakpoint-xxxl: 1400px

$font-akzidenz: 'Akzidenz Grotesk ', Arial, Helvetica, sans-serif;
$font-akzidenz-super: 'Akzidenz Grotesk Super', Arial, Helvetica, sans-serif;
$font-avantgarde: 'Avantgarde', Arial, Helvetica, sans-serif;
$font-floral-pro: 'Foral Pro'
$font-lato: 'Lato', Arial, Helvetica, sans-serif;
$font-consolas: 'Consolas', Arial, Helvetica, sans-serif;
$font-hurme: 'Hurme Geometric Sans', sans-serif;