<section class="banner">
    <div class="container">
        <div>
            <p>TOOLS FOR DIGITAL ORGANIZATIONS</p>
            <h1>Digital Native  <br> Organizations Hub <br> in Kusama</h1>
            <a href="#">Learn more</a>
        </div>
    </div>
    <!-- <img src="images/circle.png" alt="Circle image"> -->
    <div class="features">
        <h2>
            Luhn network is a hub for digitally-native <br> organizations and services for those <br> organizations.
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="card-feature">
                <div class="card-header">
                    <img src="images/web3.svg" alt="WEB3 image">
                </div>
                <div class="card-body">
                    <h5>Web3</h5>
                    <p>
                        Digital Nativeness refers to the use of web3 technologies by organizations to exist and function in the digital world beyond what was possible in web2. DAOs are Digital Native but also organizations without a token, centralized or not algorithmically managed.
                    </p>
                </div>
            </div>
            <div class="card-feature">
                <div class="card-header">
                    <img src="images/blockchain.svg" alt="Blockchain image">
                </div>
                <div class="card-body">
                    <h5>Blockchain</h5>
                    <p>
                        DNOs can use blockchain in their value proposition, disintermediate banks and other big players to access capital al liquidity, lower payment fees, integrate transactions with accounting systems, and provide transparent governance.
                    </p>
                </div>
            </div>
            <div class="card-feature">
                <div class="card-header">
                    <img src="images/digitalization.svg" alt="Digitalization image">
                </div>
                <div class="card-body">
                    <h5>Digitalization</h5>
                    <p>
                        Luhn Network is not only creating a home for Digital Native Organizations but also a comfortable glide-path, bridge, and journey map for traditional organizations and business leaders looking for an incremental transition to digitalness.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>