<section class="description">
  <div class="container-description ">
      <h1 class="title-2"> <span class="text-green">Hashed</span> Network</h1>
  </div>
  <div class="container-description ">
    <p class="title-3">
      enables the <span class="text-bold">full business</span>
      for digitally-native organizations and web3-curious
      businesses <span class="text-bold">seeking benefits of decentralized digital economies</span>
    </p>
  </div> 
  <div class="satellite-container">
    <img class="satellite" src="/images/elements/satellite.svg" alt="Satellite" >
  </div>
</section>
