<section class="hashedteam">
  <div class="wrapper">
    <div class="title-1">Meet our</div>
    <div class="title-1 text-gradient">awesome team</div>
    <div class="title-4 subtitle text-book">
      With 20+ years of developing software for businesses, 
      we have focused solely on blockchain since 2017. 
      We have 12+ Dapps in production across EOSIO, 
      Ethereum and Substrate with thousands of active monthly users.
    </div>
  </div>
  <div class="container flex-container">
    <div class="flex-container member-flex">
                  
      <div class="member-container">
        <img class="member-image " src="{{ "images/members/max.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Max Gravitt</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              co-founder
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/sebastian.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Sebastian</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              co-founder
            </div>
            <div class="btn-chip caption-1">
              Computer system engineer
            </div>
            <div class="btn-chip caption-1">
              Eosio
            </div>
            <div class="btn-chip caption-1">
              Substrate
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/augusto.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Augusto Lara</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              co-founder
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/daniel.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Daniel Poot</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              Front-end Developer
            </div>
            <div class="btn-chip caption-1">
              Geek
            </div>
            <div class="btn-chip caption-1">
              Gamer
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/erick.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Erick</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              BlockChain Developer
            </div>
            <div class="btn-chip caption-1">
              Physicist
            </div>
            <div class="btn-chip caption-1">
              Cat lover
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/alejandro.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Alejandro Garcia</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              Front-end Developer
            </div>
            <div class="btn-chip caption-1">
              PC engineer
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/didier.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Didier Mis</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              Back-end Blockchain Software
            </div>
            <div class="btn-chip caption-1">
              Smart Contracts
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="{{ "images/members/jose.png" | absURL }}" alt="Hashed member">
        <div class="member-overlay flex-container">
          <div class="member-name body-1">Jose Maria</div>
          <div class="flex-container member-chips">
            <div class="btn-chip caption-1">
              Front-end Developer
            </div>
            <div class="btn-chip caption-1">
              Team leader
            </div>
            <div class="btn-chip caption-1">
              UI focused
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
