<section class="hashedteam overflow-x-hidden">
  <div class="title-1">We are Hashed</div>
  <div class="container flex-container">
    <div class="flex-container member-flex">
                  
      <div class="member-container">
        <img class="member-image " src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Max Gravitt</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              co-founder
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Augusto Lara</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              co-founder
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Sebastian</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              Computer system engineer
            </div>
            <div class="btn caption-1">
              Eosio
            </div>
            <div class="btn caption-1">
              Substrate
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Daniel Poot</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              Front-end Developer
            </div>
            <div class="btn caption-1">
              Geek
            </div>
            <div class="btn caption-1">
              Gamer
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Erick</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              BlockChain Developer
            </div>
            <div class="btn caption-1">
              Physicit
            </div>
            <div class="btn caption-1">
              Cat lover
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Alejandro Garcia</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              Front-end Developer
            </div>
            <div class="btn caption-1">
              PC engineer
            </div>
            <div class="btn caption-1">
              Good Listener
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Didier Mis</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              Back-end Blockchain Software
            </div>
            <div class="btn caption-1">
              Smart Contracts
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Jose Maria</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              Front-end Developer
            </div>
            <div class="btn caption-1">
              Team leader
            </div>
            <div class="btn caption-1">
              UI focused
            </div>
          </div>
        </div>
      </div>

      <div class="member-container">
        <img class="member-image" src="https://cdn.quasar.dev/img/avatar3.jpg" alt="Hashed member">
        <div class="member-overlay">
          <div class="member-name body-1">Massimo Berguero</div>
          <div class="flex-container member-chips">
            <div class="btn caption-1">
              UI designer
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>