<section class="hero landing overflow-hidden">
  <div class="container hero-details">
      <h1 class="title-1 text-green">Digitally-native</h1>
      <h1 class="title-1">businesses on <span class="text-italic">Polkadot</span></h1>
  </div>
  <div class="asteroids-container">
    <div class="container">
      <img class="moon-container" src="images/elements/moon.png" alt="Moon">
    </div>
    <div class="container">
      <img class="asteroid-3" src="images/elements/asteroid-3.png" alt="Moon">
    </div>
  </div>
</section>