<section class="hero">

  <div class="hero-content">  

    <div class="container-text">
      <div class="hero-title">
        <h1 class="title-1 text-bold text-gradient">Digitally-native</h1>
        <h1 class="title-1 text-bold">business on Polkadot</h1>
      </div>
         
       <div class="hero-subtitle">
          <div class="title-4 text-book text-grey">
            <span class="text-bold text-white">Hashed Network</span> enables the full business lifecycle for digitally-native organizations and web3-curious businesses seeking benefits of decentralized digital economies.
          </div>
       </div>
        <button onclick="window.open('http://docs.hashed.network', '_blank')" class="btn-primary body-2 text-bold documentation">
          Documentation
        </button>
    </div>

  </div>

  <img class="ring" src="{{"images/hashedToroRing.png" | absURL}}" alt="Ring" >

</section>