<section class="hero bg-dark">
  <img class="hero-image hero-image__center" src="{{ "images/monolith.png" | absURL }}" alt="" height="1078">
  <div class="hero-bg" ></div>
  <div class="container hero-details">
    <div>
      <h1 class="text-capitalize title-1">Digitally Native Businesses on Polkadot</h1>
      <p class="font-avantgarde hero-description">
        Hashed Network enables the full lifecycle for digitally-native organizations and web3-curious businesses seeking benefits of decentralized digital economies.
      </p>
      <img src="{{ "icons/arrow-down.svg" | absURL }}" alt="Arrow" width="20" height="38">
    </div>
  </div>
</section>