<section class="hero bg-dark">
  <img class="hero-image hero-image__center" src="{{ "images/monolith.png" | absURL }}" alt="" height="1078">
  <div class="hero-bg" ></div>
  <div class="container hero-details">
    <div>
      <h1 class="text-capitalize title-1">Digital native organizations hub in polkadot</h1>
      <p class="font-avantgarde hero-description">
        Hashed network also provides a glide path for traditional businesses
        to adopt a decentralized digital economy
      </p>
      <img src="{{ "icons/arrow-down.svg" | absURL }}" alt="Arrow" width="20" height="38">
    </div>
  </div>
</section>