<section class="hero landing overflow-hidden">
  <div class="hero-details">
    <h1 class="title-1 text-bold text-gradient">Digitally-native</h1>
    <h1 class="title-1 text-bold">businesses on <span class="text-italic">Polkadot</span></h1>
    <div class="title-4">
      <span class="text-bold">Hashed Network</span> enables the full business lifecycle for digitally-native organizations and web3-curious businesses seeking benefits of decentralized digital economies.
    </div>
    <button class="btn-primary body-2 text-bold" style="margin-top: 10%">
      Documentation
    </button>
  </div>
</section>