<section class="partners">
  <div class="hero">
      <img class="hero-image translate-50" src="{{ "images/blockchain.png" | absURL }}" alt="" height="923">
      <div class="hero-bg-2" ></div>
      <div class="text-right text-capitalize container hero-details-2">
        <img class="dots-box" src="{{ "icons/dots-box.svg" | absURL }}" alt="" height="291" width="386">
        <p class="title-1 partners-title">
          Launch
          <br>
          partners
        </p>
        <span class="divider">&nbsp;</span>
      </div>
  </div>
  <div class="container partners-grid">
    <div class="partner">
      <header>
        <img src="{{ "images/partners/proxy.svg" | absURL }}" alt="Afloat" height="78" width="378">
      </header>
      <p class="partner-description">
        Specializes in large-scale project management. Their first
        solution in the Luhn network facilitates EB-5 immigration investment tracking,
        accountability, and escrow payment coordination.</p>
      <div class="partner-links">
        <a href="https://eb5proxy.com" target="_blank" class="button button-secondary">Visit Site</a>
      </div>
    </div>
    <div class="partner">
      <header>
        <img src="{{ "images/partners/hypha.svg" | absURL }}" alt="Hypha" height="69" width="225">
      </header>
      <p class="partner-description">
        Developed on-chain organizational templates for startups,
        non-for-profits, and DAOs. Hypha is led by renowned thought leaders in an
        organization, sustainability, and governance and has been operational since 2020 with
        hundreds of monthly users.
      </p>
      <div class="partner-links">
        <a href="https://hypha.earth" target="_blank" class="button button-secondary">Visit Site</a>
        <a href="https://github.com/hypha-dao">
          <img src="{{ "/icons/gitlab.svg" | absURL }}" alt="Gitlab">
          <span class="sr-only">Gitlab</span>
        </a>
      </div>
    </div>

    <div class="partner">
      <header>
        <img src="{{ "images/partners/afloat.svg" | absURL }}" alt="Afloat" height="69" width="196">
      </header>
      <p class="partner-description">
        Operates a marketplace that enables the fractional buying and
        selling of tax credits. It has been operational since 2020 and transacts tax credits
        ranging in size from $2,000 to $70,000.
      </p>
      <div class="partner-links">
        <a href="" class="button button-secondary">Visit Site</a>
        <a href="https://twitter.com/AfloatTaxCredit">
          <img src="{{ "/icons/twitter.svg" | absURL }}" alt="Twitter">
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://github.com/Afloat-Inc">
          <img src="{{ "/icons/gitlab.svg" | absURL }}" alt="Github">
          <span class="sr-only">Github</span>
        </a>
      </div>
    </div>

    <div class="partner">
      <header>
        <img src="{{ "images/partners/leasex.svg" | absURL }}" alt="LeaseX" height="60" width="233">
      </header>
      <p class="partner-description">
        Operates a marketplace for rental property leases at a slight discount in 
        exchange for the future cash flow of the property.
      </p>
      <div class="partner-links">
        <a href="https://leasex.io" class="button button-secondary">Visit Site</a>
      </div>
    </div>

  </div>
</section>