<section class="partners">
  <div class="container">

    <h1 class="title-1 text-bold text-gradient partners-title" >
      Launching Partners
      <div class="container partners-grid">
    </h1>
    
    <div class="partners-grid">
      <div class="partner">
        <header>
          <img class="logo" src="{{ "images/partners/proxy.svg" | absURL }}" alt="EB5 Proxy" height="78" width="225">
        </header>
        <p class="partner-description" style="padding-top: 10px">
          <quote>Specializes in large-scale project management. Their first solution in the Luhn network facilitates EB-5 immigration investment tracking, accountability, and escrow payment coordination. </quote>
        </p>
        <div class="partner-links">
          <a href="https://eb5proxy.com" target="_blank" class="btn-secondary">Learn more</a>
        </div>
      </div>
      <div class="partner">
        <header>
          <img class="logo" src="{{ "images/partners/hypha.svg" | absURL }}" alt="Hypha" height="78" width="225">
        </header>
        <p class="partner-description">
          <quote>Developed on-chain organizational templates for startups, non-for-profits, and DAOs. Hypha is led by renowned thought leaders in organization, sustainability, and governance and has been operational since 2020.</quote>
          <div class="partner-links">
            <a href="https://eb5proxy.com" target="_blank" class="btn-secondary">Learn more</a>
          </div>
      </div>
      <div class="partner">
        <header>
          <img class="logo" src="{{ "images/partners/afloat.svg" | absURL }}" alt="Afloat" height="78" width="225">
        </header>
        <p class="partner-description">
          <quote>Operates a marketplace that enables the fractional buying and selling of tax credits. It has been operational since 2020 and transacts tax credits ranging in size from $2,000 to $70,000.</quote>
          <div class="partner-links">
            <a href="https://eb5proxy.com" target="_blank" class="btn-secondary">Learn more</a>
          </div>
      </div>
    </div>
  </div>

</section>