<section class="partners">
  <div class="hero">
      <img class="hero-image translate-50" src="{{ "images/blockchain.png" | absURL }}" alt="" height="923">
      <div class="hero-bg-2" ></div>
      <div class="text-right text-capitalize container hero-details-2">
        <img class="dots-box" src="{{ "icons/dots-box.svg" | absURL }}" alt="" height="291" width="386">
        <p class="title-1 partners-title">
          Launch
          <br>
          partners
        </p>
        <span class="divider">&nbsp;</span>
      </div>
  </div>
  <div class="container partners-grid">
    <div class="partner">
      <header>
        <img src="{{ "images/partners/proxy.svg" | absURL }}" alt="EB5 Proxy" height="78" width="378">
      </header>
      <p class="partner-description">
        <quote>More cost-effective and compliant than annual audited financials—the blockchain prevents fraud in real time so project funding works for all EB-5 stakeholders -- escrow banks, accountants, immigrant investors and their counsel and agents, and of course, USCIS. </quote>
      <div class="partner-links">
        <a href="https://eb5proxy.com" target="_blank" class="button button-secondary">Visit Site</a>
      </div>
    </div>

    <div class="partner">
      <header>
        <img src="{{ "images/partners/afloat.svg" | absURL }}" alt="Afloat" height="69" width="196">
      </header>
      <p class="partner-description">
        Bid, buy, and sell transferrable tax credits with the speed and security of the blockchain. Tax credit appraisals and redemption handled by Certified Public Accountants.
      </p>
      <div class="partner-links">
        <a href="https://stayafloat.io" target="_blank" class="button button-secondary">Visit Site</a>
        <a href="https://twitter.com/AfloatTaxCredit">
          <img src="{{ "/icons/twitter.svg" | absURL }}" alt="Twitter">
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://github.com/Afloat-Inc">
          <img src="{{ "/icons/gitlab.svg" | absURL }}" alt="Github">
          <span class="sr-only">Github</span>
        </a>
      </div>
    </div>

    <div class="partner">
      <header>
        <img src="{{ "images/partners/hypha.svg" | absURL }}" alt="Hypha" height="69" width="225">
      </header>
      <p class="partner-description">
        Hypha's DAO platform has a range of flexible tools to craft governance to achieve an organization's goals, such as ranked choice, stake-weighted, and traditional organization voting.
      </p>
      <div class="partner-links">
        <a href="https://hypha.earth" target="_blank" class="button button-secondary">Visit Site</a>
        <a href="https://github.com/hypha-dao">
          <img src="{{ "/icons/gitlab.svg" | absURL }}" alt="Gitlab">
          <span class="sr-only">Gitlab</span>
        </a>
      </div>
    </div>

    <div class="partner">
      <header>
        <img src="{{ "images/partners/leasex.svg" | absURL }}" alt="LeaseX" height="60" width="233">
      </header>
      <p class="partner-description">
        LeaseX is a marketplace for owners of residential real estate rentals to convert the cashflow from a tenant lease agreement into a Non-Fungible Token (NFT) that may be bought and sold at a discount of face value to qualified Investors.
      </p>
      <div class="partner-links">
        <a href="https://leasex.io" target="_blank" class="button button-secondary">Visit Site</a>
      </div>
    </div>

  </div>
</section>