<section class="products">
   <div class="container-title">
      <h1 class="title-1 title text-gradient">
        Our products
      </h1>
   </div>

    <div class="container-flex container-products">
    <div class="tool-info flex-vault space">
        <img class="dots-box img-vault" src="{{ "images/products/native-vault-2.png" | absURL }}" alt="" height="365" width="393">
        <div class="tool-description">
          <p class="title-2 tool-title"> <span class="text-bold">Native</span> <span class="text-book">Vaults</span></p>
          <p class="body-1 text-bold">
            Built with Bitcoin in mind, it’s a revolutionary product 
            that provides easy-to-use self-custody of digital assets natively. 
          </p>
          <p class="body-1 text-book text-grey">
            No wrapped tokens or bridge hacks; you own the actual asset and control them 24/7. 
            We’ve made multi-sig accounts easy to configure and support air-gapped hardware and hot wallets. 
            Native Vaults is the most secure and convenient way to store and manage digital assets.
          </p>
          <button class="btn-primary tool-button" onclick="window.open('http://docs.hashed.network', '_blank')" >Learn more</button>
        </div>
      </div>

      <div class="tool-info flex-fund">
        <div class="tool-description">
          <p class="title-2 tool-title"> <span class="text-bold">Fund</span><span class="text-book"> Administration</span></p>
          <p class="body-1 text-bold">
            Blockchain is the internet of money but to bring this vision to life Hashed Network has ported the protocols used to manage money at scale. 
          </p>
          <p class="body-1 text-book text-grey">
            Our solution currently secures the process that moves $1B+ 
            in assets for multiple large real estate projects.
          </p>
          <button class="btn-primary tool-button" onclick="window.open('http://hn.prxfi.com/','_blank')" >Learn more</button>
        </div>
        <img class="dots-box img-fund" src="{{ "images/products/fund.png" | absURL }}" alt="" height="400" width="390">
      </div>
    </div>
</section>