<section class="products">
   <div class="container-title">
      <h1 class="title-1 title text-gradient">
        Our products
      </h1>
   </div>

    <div class="container-flex container-products">
    <div class="container tool-info">
        <img class="dots-box" src="{{ "images/products/native-vault-2.png" | absURL }}" alt="" height="415" width="433">
        <div class="tool-description">
          <p class="title-2 tool-title"> <span class="text-bold">Native</span> <span class="text-book">Vaults</span></p>
          <p class="body-1 text-bold">
            Built with Bitcoin in mind, it’s a revolutionary product 
            that provides easy-to-use self-custody of digital assets natively. 
          </p>
          <p class="body-1 text-book">
            No wrapped tokens or bridge hacks; you own the actual asset and control them 24/7. 
            We’ve made multi-sig accounts easy to configure and support air-gapped hardware and hot wallets. 
            Native Vaults is the most secure and convenient way to store and manage digital assets.
          </p>
          <button class="btn-primary tool-button" onclick="location.href='http://docs.hashed.network'" >Learn more</button>
        </div>
      </div>

      <div class="container tool-info ">
        <div class="tool-description">
          <p class="title-2 tool-title" > <span class="text-bold">Hancock</span> <span class="text-book"> Signer</span></p>
          <p class="body-1 text-bold">
            A WASM-based Polkadot wallet designed to make interacting with the Polkadot blockchain easier and more intuitive.
          </p>
          <p class="body-1 text-book">
            While keeping private keys in the device, it removes UX barriers to entry, 
            making signing up and connecting to dApps frictionless. 
            No browser plugin is required! Scan a QR code with your phone and log in or approve transactions. 
            Hancock Signer is the best daily driver solution in the Polkadot ecosystem.
          </p>
          <button class="btn-primary tool-button" onclick="location.href='http://docs.hashed.network'" >Learn more</button>
        </div>
        <img class="dots-box" src="{{ "images/products/signer.png" | absURL }}" alt="" height="453" width="479">
      </div>

      <div class="container tool-info ">
        <img class="dots-box" src="{{ "images/products/fund.png" | absURL }}" alt="" height="439" width="426">
        <div class="tool-description">
          <p class="title-2 tool-title"> <span class="text-bold">Fund</span><span class="text-book"> Administration</span></p>
          <p class="body-1 text-bold">
            Blockchain is the internet of money but to bring this vision to life Hashed Network has ported the protocols used to manage money at scale. 
          </p>
          <p class="body-1 text-book">
            Our solution currently secures the process that moves $1B+ 
            in assets for multiple large real estate projects.
          </p>
          <button class="btn-primary tool-button" onclick="location.href='http://hn.prxfi.com/'" >Learn more</button>
        </div>
      </div>
    </div>
</section>