<section class="stack">
    <div class="container">
        <div class="titles">
            <h1>Feature Stack</h1>
            <p>
                A First-principles approach to identifying and delivering the capabilities that Digitally-Native <br> 
                Organizations need in order to be successful.
            </p>
            <hr class="divider">
        </div>
        <div class="row">
            <div class="cards">
                <div class="item active">
                    <div class="icon">
                        <img src="icons/dollar.svg" alt="">
                    </div>
                    <div class="body">
                        <h4>MANAGE MONEY</h4>
                        <p>
                            Create legally compliant digital organizations that secure investment, <br> 
                            manage treasury, accounting, and put your money to work.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="icons/user.svg" alt="">
                    </div>
                    <div class="body">
                        <h4>MANAGE HUMANS</h4>
                        <p>
                            Create legally compliant digital organizations that secure investment, <br> 
                            manage treasury, accounting, and put your money to work.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="icons/file.svg" alt="">
                    </div>
                    <div class="body">
                        <h4>MANAGE PROJECTS</h4>
                        <p>
                            Create legally compliant digital organizations that secure investment, <br> 
                            manage treasury, accounting, and put your money to work.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li class="active" onclick="showTab(this)" data-tab="features">
                        <a type="button">FEATURES</a>
                    </li>
                    <li onclick="showTab(this)" data-tab="projects">
                        <a type="button">PROJECTS</a>
                    </li>
                </ul>
                <div class="tab show" data-tab="features">
                    <div class="item">
                        <div class="icon">
                            <img src="icons/balance.svg" alt="">
                        </div>
                        <div class="body">
                            <p>
                                <strong>Create and manage the equity</strong> and operation agreement of <br> 
                                Digitally-native organizations
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="icons/bitcoin.svg" alt="">
                        </div>
                        <div class="body">
                            <p>
                                <strong>No bridges. No synthetics. No hackers.</strong> Native Bitcoin Vaults <br>
                                leverage Substrate for multisig and vault coordination of <br> 
                                native bitcoin transactions.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="icons/cubes.svg" alt="">
                        </div>
                        <div class="body">
                            <p>
                                <strong>Digitally-native open-source accounting</strong> built with crypto <br>
                                and fiat in mind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab" data-tab="projects">
                    <div class="item">
                        <div class="icon">
                            <img src="icons/balance.svg" alt="">
                        </div>
                        <div class="body">
                            <p>
                                <strong>Create and manage the equity</strong> and operation agreement of <br> 
                                Digitally-native organizations
                            </p>
                        </div>
                    </div>
                </div>
                <nav>
                    <span class="dot active" onclick="showTab(this)" data-tab="features"></span>
                    <span class="dot" onclick="showTab(this)" data-tab="projects"></span>
                </nav>
            </div>
        </div>
    </div>
</section>