<section class="team">
    <div class="header">
        <div class="titles">
            <h1>Team</h1>
            <p>
                A first-principles approach to identifying and delivering the capabilities that Digitally-Native <br> 
                Organizations need in order to be successful.
            </p>
        </div>
        <ul class="arrows">
            <li class="active" onclick="moveToLeft(this)" data-label="left">
                <img src="icons/arrow-left.svg" alt="Arrow left">
            </li>
            <li onclick="moveToRight(this)" data-label="right">
                <img src="icons/arrow-right.svg" alt="Arrow right">
            </li>
        </ul>
    </div>
    <div class="scroll-members">
        <div class="members">
            <div class="item">
                <div class="cover">
                    <img src="images/members/1.jpg" alt="Lorem Ipsum">
                </div>
                <div class="personal-info">
                    <h6>Lorem Ipsum</h6>
                    <p>Internal Position</p>
                </div>
                <ul class="social-networks">
                    <li>
                        <a href="#">
                            <img src="icons/medium.svg" alt="Medium logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/twitter.svg" alt="Twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/gitlab.svg" alt="Gitlab logo">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <div class="cover">
                    <img src="images/members/1.jpg" alt="Lorem Ipsum">
                </div>
                <div class="personal-info">
                    <h6>Lorem Ipsum</h6>
                    <p>Internal Position</p>
                </div>
                <ul class="social-networks">
                    <li>
                        <a href="#">
                            <img src="icons/medium.svg" alt="Medium logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/twitter.svg" alt="Twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/gitlab.svg" alt="Gitlab logo">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <div class="cover">
                    <img src="images/members/1.jpg" alt="Lorem Ipsum">
                </div>
                <div class="personal-info">
                    <h6>Lorem Ipsum</h6>
                    <p>Internal Position</p>
                </div>
                <ul class="social-networks">
                    <li>
                        <a href="#">
                            <img src="icons/medium.svg" alt="Medium logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/twitter.svg" alt="Twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/gitlab.svg" alt="Gitlab logo">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <div class="cover">
                    <img src="images/members/1.jpg" alt="Lorem Ipsum">
                </div>
                <div class="personal-info">
                    <h6>Lorem Ipsum</h6>
                    <p>Internal Position</p>
                </div>
                <ul class="social-networks">
                    <li>
                        <a href="#">
                            <img src="icons/medium.svg" alt="Medium logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/twitter.svg" alt="Twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/gitlab.svg" alt="Gitlab logo">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <div class="cover">
                    <img src="images/members/1.jpg" alt="Lorem Ipsum">
                </div>
                <div class="personal-info">
                    <h6>Lorem Ipsum</h6>
                    <p>Internal Position</p>
                </div>
                <ul class="social-networks">
                    <li>
                        <a href="#">
                            <img src="icons/medium.svg" alt="Medium logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/twitter.svg" alt="Twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/gitlab.svg" alt="Gitlab logo">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <div class="cover">
                    <img src="images/members/1.jpg" alt="Lorem Ipsum">
                </div>
                <div class="personal-info">
                    <h6>Lorem Ipsum</h6>
                    <p>Internal Position</p>
                </div>
                <ul class="social-networks">
                    <li>
                        <a href="#">
                            <img src="icons/medium.svg" alt="Medium logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/twitter.svg" alt="Twitter logo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="icons/gitlab.svg" alt="Gitlab logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>