<section class="tools">
   <div class="container container-title">
      <h1 class="title-1">
        <span class="text-green text">Protocols</span> and digital organizations tools
      </h1>
   </div>

   <div class="container container-asteroid overflow-hidden flex-container">
    <img class="asteroid-1" src="images/elements/asteroid.png" alt="Asteroid" >
    <img class="asteroid-2" src="images/elements/asteroid-4.png" alt="Asteroid" >
  </div>
    <div class="container-flex">
    <div class="container tool-info">
        <img class="dots-box" src="{{ "icons/native-vaults.svg" | absURL }}" alt="" height="291" width="386">
        <div>
          <p class="title-4 text-green">Native Vaults</p>
          <p class="tool-description body-1">
            Native Vaults use the blockchain for multi-signature coordination
            and broadcast of native partially-signed bitcoin transactions (PSBTs).
          </p>
          <button class="btn-2">Learn more</button>
        </div>
      </div>

      <div class="container tool-info">
        <div>
          <p class="title-4 text-green">Native Vaults</p>
          <p class="tool-description body-1">
            Native Vaults use the blockchain for multi-signature coordination
            and broadcast of native partially-signed bitcoin transactions (PSBTs).
          </p>
          <button class="btn-2">Learn more</button>
        </div>
        <img class="dots-box" src="{{ "icons/native-vaults.svg" | absURL }}" alt="" height="291" width="386">
      </div>

      <div class="container tool-info">
        <img class="dots-box" src="{{ "icons/native-vaults.svg" | absURL }}" alt="" height="291" width="386">
        <div>
          <p class="title-4 text-green">Native Vaults</p>
          <p class="tool-description body-1">
            Native Vaults use the blockchain for multi-signature coordination
            and broadcast of native partially-signed bitcoin transactions (PSBTs).
          </p>
          <button class="btn-2">Learn more</button>
        </div>
      </div>
    </div>
</section>