<section class="tools" style="background: #121418">
   <div class="container-title">
      <h1 class="title-1 text-gradient">
        Our products
      </h1>
   </div>

    <div class="container-flex">
    <div class="container tool-info ">
        <img class="dots-box" src="{{ "images/products/native-vault-2.png" | absURL }}" alt="" height="315" width="333">
        <div class="tool-description">
          <p class="title-3 "> <span class="text-bold">Native</span>Vaults</p>
          <p class="body-2 text-bold">
            Built with Bitcoin in mind, it’s a revolutionary product 
            that provides easy-to-use self-custody of digital assets natively. 
          </p>
          <p class="body-2">
            No wrapped tokens or bridge hacks; you own the actual asset and control them 24/7. 
            We’ve made multi-sig accounts easy to configure and support air-gapped hardware and hot wallets. 
            Native Vaults is the most secure and convenient way to store and manage digital assets.
          </p>
          <button class="btn-primary">Learn more</button>
        </div>
      </div>

      <div class="container tool-info ">
        <div class="tool-description">
          <p class="title-3 ">Hancock Signer</p>
          <p class="body-1">
            A WASM-based Polkadot wallet designed to make interacting with the Polkadot blockchain easier and more intuitive. 
            While keeping private keys in the device, it removes UX barriers to entry, 
            making signing up and connecting to dApps frictionless. 
            No browser plugin is required! Scan a QR code with your phone and log in or approve transactions. 
            Hancock Signer is the best daily driver solution in the Polkadot ecosystem.
          </p>
          <button class="btn-primary">Learn more</button>
        </div>
        <img class="dots-box" src="{{ "images/products/signer.png" | absURL }}" alt="" height="353" width="379">
      </div>

      <div class="container tool-info ">
        <img class="dots-box" src="{{ "images/products/fund.png" | absURL }}" alt="" height="339" width="326">
        <div class="tool-description">
          <p class="title-3 ">Fund Administration</p>
          <p class="body-1">
            Blockchain is the internet of money but to bring 
            this vision to life Hashed Network has ported the protocols used to manage money at scale. 
            Our solution currently secures the process that moves $1B+ 
            in assets for multiple large real estate projects.
          </p>
          <button class="btn-primary">Learn more</button>
        </div>
      </div>
    </div>
</section>