<section class="work">
  <div class="container flex-container work-information">
    <div class="work-title-container">
      <p class="text-capitalize text-gradient title-2">Hashed network protocols and digital organization tools</p>
      <span class="divider">&nbsp;</span>
    </div>
    <img class="dots-box" src="{{ "icons/dots-box.svg" | absURL }}" alt="" height="291" width="386">
  </div>
  <div>
    <div class="container">
      <div class="flex-container">
        <p class="text-verticaly title-2">Create</p>
        <div class="grid-container">
          <div class="card">
            <img src="{{ "icons/dots.svg" | absURL }}" alt="">
            <p class="card-title">Dao lcc</p>
            <p class="card-description">Create legally compliant Digital Organizations by generating Operating Agreements, tokenizing your organization, and listing it in a built-in Marketplace.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/triangles.svg" | absURL }}" alt="">
            <p class="card-title">Business pallets</p>
            <p class="card-description">Lower your costs and accelerate your time to market using our battle-tested Marketplace pallet maintained by the hashed network.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/lock.svg" | absURL }}" alt="">
            <p class="card-title">Confidential Docs</p>
            <p class="card-description">A multiuser encryption protocol to securely handle KYC and PII in your blockchain application. Designed to be easily integrated.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="flex-container">
        <p class="text-verticaly title-2">Manage</p>
        <div class="grid-container">
          <div class="card">
            <img src="{{ "icons/bitcoin.svg" | absURL }}" alt="">
            <p class="card-title">Native-Bitcoin-Vaults</p>
            <p class="card-description">Protect your treasury without bridges or synthetics. Native Bitcoin Vaults leverage Substrate for multi-sig vault coordination of native bitcoin transactions.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/wallet.svg" | absURL }}" alt="">
            <p class="card-title">Accounting</p>
            <p class="card-description">Digitally-native accounting with wallet tracking and reporting built with crypto and fiat in mind</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/world.svg" | absURL }}" alt="">
            <p class="card-title">Network services</p>
            <p class="card-description">Pallets with built-in Network roles like Auditor, Redeemer, and Appraiser leverage cross-network services and provide low entry cost and high scalability.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="flex-container">
        <p class="text-verticaly title-2">Bridges</p>
        <div class="grid-container">
          <div class="card">
            <img src="{{ "icons/bank.svg" | absURL }}" alt="">
            <p class="card-title">SPDI Bank integration</p>
            <p class="card-description">Easy to integrate in-dapp leveraging fiat on-off-rampSPDI bank for increased protections.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/bank.svg" | absURL }}" alt="">
            <p class="card-title">SPDI Bank integration</p>
            <p class="card-description">Easy to integrate in-dapp leveraging fiat on-off-rampSPDI bank for increased protections.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/card.svg" | absURL }}" alt="">
            <p class="card-title">Email login</p>
            <p class="card-description">A usability journey that takes users from login/password authentication to self-custody at their own pace.</p>
            <a href="" class="button button-secondary">Learn more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>