<section class="work">
  <div class="container flex-container work-information">
    <div class="work-title-container">
      <p class="text-gradient title-2">Hashed Network protocols and digital organization tools</p>
      <span class="divider">&nbsp;</span>
    </div>
    <img class="dots-box" src="{{ "icons/dots-box.svg" | absURL }}" alt="" height="291" width="386">
  </div>
  <div>
    <div class="container">
      <div class="flex-container">
        <p class="text-verticaly title-2">Create</p>
        <div class="grid-container">
          <div class="card">
            <img src="{{ "icons/dots.svg" | absURL }}" alt="">
            <p class="card-title">DAO LLC</p>
            <p class="card-description">Create legally-compliant digital organizations, including deployment of smart contracts, tokenization, and compatibility with business pallets.</p>
            <a href="https://hashed.io/digitalness-2/" class="button button-secondary" target="_blank" rel="noopener noreferrer">More on Digitalness</a>
          </div>
          <div class="card">
            <img src="{{ "icons/triangles.svg" | absURL }}" alt="">
            <p class="card-title">Business pallets</p>
            <p class="card-description">Lower cost and accelerate commerce using composable business primitives and fork-friendly UIs, for feature sets such as marketplaces, role-based access control, and NFTs that secure IRL assets.</p>
            <a href="https://github.com/hashed-io/hashed-substrate/tree/main/pallets" class="button button-secondary" target="_blank" rel="noopener noreferrer">More on Github</a>
          </div>
          <div class="card">
            <img src="{{ "icons/lock.svg" | absURL }}" alt="">
            <p class="card-title">Confidential Docs</p>
            <p class="card-description">
              A trustless multi-user encryption protocol for storing and sharing files and data, such as invoices, certificates of authenticity, or identification (KYC) documents.</p>
            <a href="https://github.com/hashed-io/hashed-substrate/tree/main/pallets/confidential-docs" class="button button-secondary" target="_blank" rel="noopener noreferrer">Learn more</a>
          </div>
        </div>
      </div>
      <div class="flex-container">
        <p class="text-verticaly title-2">Manage</p>
        <div class="grid-container">
          <div class="card">
            <img src="{{ "icons/bitcoin.svg" | absURL }}" alt="">
            <p class="card-title">Native Bitcoin Vaults</p>
            <p class="card-description">Native Bitcoin Vaults use the blockchain for multi-signature coordination and broadcast of native partially-signed bitcoin transactions. Perfect for business treasury self-custody of bitcoin.</p>
            <a href="https://github.com/w3f/Grants-Program/blob/master/applications/native-bitcoin-vaults.md" class="button button-secondary" target="_blank" rel="noopener noreferrer">Original Grant</a>
          </div>
          <div class="card">
            <img src="{{ "icons/wallet.svg" | absURL }}" alt="">
            <p class="card-title">Accounting</p>
            <p class="card-description">Digitally-native triple-entry accounting with integrated wallet, balance sheets, and income statements. Built with a focus on bitcoin, fully-backed stablecoins, and fiat.</p>
            <!-- <a href="" class="button button-secondary" target="_blank" rel="noopener noreferrer">Learn more</a> -->
          </div>
          <div class="card">
            <img src="{{ "icons/world.svg" | absURL }}" alt="">
            <p class="card-title">Network services</p>
            <p class="card-description">Pallets have built-in support for friction-reducing and compliance-ready roles such as Arbitrator, Appraiser, and Asset Redeemer, encouraging p2p engagement, network effects, and service discovery.</p>
            <a href="https://docs.hashed.network/docs/marketplaces" class="button button-secondary" target="_blank" rel="noopener noreferrer">Marketplaces Protocol</a>
          </div>
        </div>
      </div>
      <div class="flex-container">
        <p class="text-verticaly title-2">Bridges</p>
        <div class="grid-container">
          <div class="card">
            <img src="{{ "icons/dots.svg" | absURL }}" alt="">
            <p class="card-title">Polkadot XCM</p>
            <p class="card-description">Parachain candidate for Kusama and Polkadot relay chains, with plans to open XCM channels that expose businesses to the best opportunities in the ecosystem.</p>
            <!-- <a href="" class="button button-secondary" target="_blank" rel="noopener noreferrer">Learn more</a> -->
          </div>
          <div class="card">
            <img src="{{ "icons/bank.svg" | absURL }}" alt="">
            <p class="card-title">Banking integrations</p>
            <p class="card-description">Easy to integrate fiat on/off-ramps, payment methods, and access to digital custody with a chartered Wyoming-based Special Purpose Depository Institution.</p>
            <a href="https://commerciumbank.com/" class="button button-secondary" target="_blank" rel="noopener noreferrer">Learn more</a>
          </div>
          <div class="card">
            <img src="{{ "icons/card.svg" | absURL }}" alt="">
            <p class="card-title">Flexible authentication</p>
            <p class="card-description">A journey that guides users of all levels from familiar email/password authentication to self-custody at their own pace. Eliminates the initial friction point for lightweight, web3-curious, or reluctant business users.</p>
            <!-- <a href="" class="button button-secondary" target="_blank" rel="noopener noreferrer">Learn more</a> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</section>