.hero
  position: relative
  height: 100vh
  overflow-x: hidden
  background: url('../images/hero-bg.png') no-repeat
  background-size: cover
  &-details,
  &-details-2
    z-index: 1
    padding: 0 5%
    width: 50%
    position: relative
    display: block
    top: 45%
    transform: translateY(-45%)
    @media screen and (max-width: $breakpoint-sm)
      width: 90%
    @media screen and (min-width: $breakpoint-md)
      width: 50%
      max-width: $breakpoint-xxl
    @media screen and (min-width: $breakpoint-xxxl)
      width: 30%
      max-width: $breakpoint-xxl
      left: 0      