.hero
  position: relative
  height: 140vh
  overflow-x: hidden
  &-details,
  &-details-2
    z-index: 1
    width: 60%
    position: relative
    display: block
    top: 30%
    transform: translateY(-30%)
    @media screen and (min-width: $breakpoint-md)
      width: 60%
      max-width: $breakpoint-md
    @media screen and (min-width: $breakpoint-xxxl)
      width: 70%
      max-width: $breakpoint-xxxl
      left: calc(calc(100vw - #{$breakpoint-xxl}) / 8)
      
.moon-container
  overflow: hidden
  z-index: 0
  position: absolute
  width: 60%
  min-width: 300px
  height: auto
  top: 50vh
  left: 55%

.asteroid-3
  z-index: 0
  position: absolute
  width: 50%
  height: auto
  top: 65vh
  left: -10%