.hashedteam
  position: relative
  width: 90%
  padding-top: 10rem
  padding-bottom: 10rem
  margin: 0 auto
  display: grid
  gap: 35px
  justify-content: center
  align-content: center
  grid-template-columns: auto 
  @media screen and (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxxl)
    grid-template-columns: 40% 60%
  @media screen and (min-width: $breakpoint-xl)
    justify-content: center
  @media screen and (min-width: $breakpoint-xxxl) 
    grid-template-columns: 40% 60%
  
  @media screen and (min-width: $breakpoint-xxxl)
    width: 70%
    max-width: 1400px

  .flex-container
    display: flex
    flex-wrap: wrap;
    gap: 4px
    @media screen and ( max-width:  $breakpoint-md)
      gap: 20px

.member
  &-flex
    max-width: $breakpoint-xl
    justify-content: left
    @media screen and ( max-width:  $breakpoint-md)
      justify-content: center
  &-container
    width: 220px
    height: 220px
    position: relative
    width: auto
  &-image
    width: 220px
    height: 220px
    display: block
  &-overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: auto
    width: 100%
    opacity: 0
    transition: .6s ease
    transition-delay: 300ms
    background-color: rgba(0,0,0,0.75)
  &-name
    color: white
    font-size: 20px
    position: relative
    top: 0%
    left: 0%
    padding: 0.5em 0.5em 0.5em
    text-align: left
    font-family: $font-foral-pro
    font-size: 22px
    font-weight: 600
  &-chips
    font-size: 20px
    position: absolute
    padding: 0.5em 0.5em 0.5em
    bottom: 0%
    left: 0%
.member-container:hover .member-overlay
  opacity: 1
.wrapper
  padding: 0.5em 0.5em 0.5em 0.5em
.subtitle
  padding-top: 3em
  width: 65%
.bg-hashed
  background: url('../images/Hashedbg.png')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover