.info
    background: transparent linear-gradient(158deg, #30E6FC 0%, #290266 100%) 0% 0% no-repeat padding-box;
    width: auto
    height: 250px
    display: flex
    align-items: center
    justify-content: center
    margin-top: 100px

.info p
    color: $white
    font-size: 30px
    font-weight: 200
    text-align: center
    padding: 10px