.partners
	padding-top: 5em
	overflow-x: hidden;
	.container
		&-text
			background: red
			width: 100%
			background-color: rgba(0, 0, 0, 0.8)
		&-elements
			// width: 100%
			// height: auto
			// max-width: $breakpoint-xxxl
			// margin: 0 auto
			position: relative
			width: 60%
			height: auto
			margin: 0 auto  
			@media screen and (min-width: $breakpoint-xxxl)
				width: 70%
				max-width: 1400px
				left: calc(calc(100vw - #{$breakpoint-xxl}) / 8)

	.rocket-img
		background-image: url('../images/planet.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%
		height: 800px
		max-height: 800px

	&-grid
		padding: 30px 0
		display: grid
		grid-template-columns:  auto
		gap: 23px
		@media screen and (min-width: $breakpoint-xxl)
			grid-template-columns: repeat(3, auto)

	&-title
		margin-top: 167px

.partner

	padding: 63px 80px 63px 0px
	@media screen and (max-width: $breakpoint-sm)
		padding: 10px 0px
	&-description
		margin-top: 40px
		margin-bottom: 70px
		line-height: 42px
		letter-spacing: 0.19px
		color: $grey

	&-links
		display: flex
		align-items: center
		flex-wrap: wrap
		gap: 40px
		justify-content: center
		@media screen and (min-width: $breakpoint-md)
			flex-wrap: nowrap
			justify-content: start
		.button
			width: 100%
			@media screen and (min-width: $breakpoint-md)
				width: auto
.logo
	justify-content: start
	align-items: center
	gap: 30px