.partners
	background: $dark $gradient-partners 0% 0% no-repeat

	&-grid
		padding: 100px 0
		display: grid
		grid-template-columns:  auto
		gap: 23px
		@media screen and (min-width: $breakpoint-xxl)
			grid-template-columns: repeat(2, auto)

	&-title
		margin-top: 167px

.partner
	padding: 63px
	background: $dark $gradient-card 0% 0% no-repeat

	&-description
		margin-top: 55px
		margin-bottom: 70px
		line-height: 42px
		letter-spacing: 0.19px
		color: $grey

	&-links
		display: flex
		align-items: center
		flex-wrap: wrap
		gap: 40px
		justify-content: center
		@media screen and (min-width: $breakpoint-md)
			flex-wrap: nowrap
			justify-content: start
		.button
			width: 100%
			@media screen and (min-width: $breakpoint-md)
				width: auto
