.partners
	background: #000
	margin-bottom: 100px
	.container
		@media screen and (max-width: $breakpoint-sm)
			padding: 0% 10% 0% 10%
	&-grid
		padding: 30px 0px
		display: grid
		grid-template-columns:  auto
		gap: 23px
		@media screen and (min-width: $breakpoint-xxl)
			grid-template-columns: repeat(3, auto)

	&-title
		margin: 100px auto
		text-align: center
	
	&-container
		display: -webkit-box
		width: 100%
		margin: auto
		scrollbar-width: none

	&-mobile
		@media screen and ( min-width: $breakpoint-xxl )
			display: none
			max-width: 40vw
			
	&-desktop
		@media screen and ( min-width: $breakpoint-xs ) and (max-width: $breakpoint-xxl)
			display: none
.logo
	margin-left: 0px
	margin-top: 20px

.partner
	background: #1B1B21 0% 0% no-repeat padding-box;
	border-radius: 30px
	padding: 50px 50px
	display: grid
	place-items: left;
	@media screen and ( min-width: $breakpoint-xs ) and (max-width: $breakpoint-xxl)
		margin-right: 10px
	@media screen and (max-width: $breakpoint-sm)
		padding: 10px 30px
	&-description
		margin-top: 40px
		margin-bottom: 70px
		line-height: 31px
		color: $grey

	&-links
		display: flex
		align-items: center
		flex-wrap: wrap
		gap: 40px
		justify-content: center
		@media screen and (min-width: $breakpoint-md)
			flex-wrap: nowrap
			justify-content: start
		.button
			width: 100%
			@media screen and (min-width: $breakpoint-md)
				width: auto
.logo
	justify-content: start
	align-items: center
	gap: 30px

.scroll-partners
	margin: 0 auto
	max-width: 500px

.dot
	width: 12px;
	height: 12px;
	border-radius: 50%;
	outline: 1px solid white
.active-white
	background-color: white
.scroll-indicator
	justify-content: center
	gap: 15px
	align-items: center
	margin-top: 55px