<footer>
    <div>
        <div class="logo">
            <img src="images/logo-footer.svg" alt="">
        </div>
        <ul class="links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Team</a>
            </li>
            <li>
                <a href="#">Docs</a>
            </li>
            <li>
                <a href="#">Views</a>
            </li>
            <li>
                <a href="#">Get in touch</a>
            </li>
        </ul>
        <ul class="social-networks">
            <li>
                <a href="#">
                    <img src="icons/medium.svg" alt="Medium logo">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="icons/twitter.svg" alt="Twitter logo">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="icons/gitlab.svg" alt="Gitlab logo">
                </a>
            </li>
        </ul>
    </div>
</footer>