<footer class="footer">
    <div class="footer-logo">
        <img src="images/logo-footer.svg" alt="">
    </div>
    <ul class="links links-footer">
        {{ range .Site.Menus.footer -}}
            <li>
                <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
            </li>
        {{ end -}}
    </ul>
    <ul class="links links-social">
        {{ range .Site.Menus.social -}}
            <li>
                <a target="_blank" rel="noopener noreferrer" href="{{ .URL | absURL }}">
                    <img src="{{ .Params.icon | absURL }}" alt="{{ .Name }}">
                </a>
            </li>
        {{ end -}}
    </ul>
</footer>