header
    background-color: transparent
    padding: 20px 0
    position: relative
    width: 100%

header nav 
    display: flex
    justify-content: space-between
    align-items: center
    width: 85%
    margin: auto

header nav div
    display: flex
    align-items: center

header nav div ul 
    display: flex
    list-style: none
    margin-right: 50px

header nav div ul li
    padding: 10px 25px

header nav div ul li a
    color: #fff
    font-size: 12px
    font-weight: 600
    text-align: center
    text-transform: uppercase
    letter-spacing: 1px

.btn-header 
    background: transparent linear-gradient(171deg, #30E6FC 0%, #290266 70%) 0% 0% no-repeat padding-box
    border-radius: 5px
    color: $white
    font-size: 12px
    font-weight: 600
    padding: 10px 30px
    text-transform: uppercase
    letter-spacing: 1px

.menu
    display: none

    img
        width: 30px

@media (min-width: $layout-breakpoint-tablet)

    header nav div
        display: none

    header nav div ul
        flex-direction: column

    .menu
        display: block
