.header
  padding-top: 20px
  padding-bottom: 20px
  position: absolute
  width: 100%
  background: transparent
  z-index: 1
  .links
    gap: 62px
  .navigation
    margin: 0 auto
    margin-left: 20px
    @media screen and (min-width: $breakpoint-xl)
      padding: 0 9%
    @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-xl)
      padding: 0 5%
    display: flex
    justify-content: space-between
    align-items: center
    &-logo
      height: 50px
      @media (min-width: $breakpoint-xl)
        height: 60px

    &-links
      display: flex
      align-items: center
      div
        display: none
      @media (min-width: $breakpoint-xl)
        div
          display: block
  
  &-mobile
    padding-top: 20px
    background: rgba(0, 0, 0, 0.74)
    backdrop-filter: blur(10px)
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 3
    display: none
    .mobile-links
      height: 50vh
      padding: 40px
      display: flex
      flex-direction: column
      justify-content: space-between;
      align-content: center;
      text-align: center
      & > * 
        padding-bottom: 50px
  &-social
    display: flex
    width: 100%
    justify-content: space-evenly
    align-content: center
    position: absolute
    top: 80vh
.menu
  margin-right: 5px
  &,
  &-icon
    width: 40px
    height: 40px
  @media (min-width: $breakpoint-xl)
    display: none

.close
  margin-right: 30px

.social-links
  display: grid
  position: fixed
  gap: 30px
  bottom: 50px
  padding-left: 40px
  @media screen and (max-width: $breakpoint-md)
    display: none

.scroll-down
  position: fixed
  gap: 30px
  bottom: 50px
  right: 1%
  padding-left: 40px
  @media screen and (max-width: $breakpoint-md)
    display: none