<header>
  <nav>
    <a href="{{ .Site.BaseURL }}">
      <img src="images/logo.svg" alt="Logo">
    </a>
    <div>
      <ul>
        {{ range .Site.Menus.main -}}
          <li>
            <a  href="{{ .URL }}">{{ .Pre | safeHTML }}<span>{{ .Name | safeHTML }}</span></a>
          </li>
        {{ end -}}
      </ul>
      <a href="#" class="btn-header">
        Get in touch
      </a>
    </div>
    <a class="menu">
      <img src="icons/menu.svg" alt="Menu icon">
    </a>
  </nav>
</header>