<header class="header"> 
  <nav class="navigation">
    <a href="{{ .Site.BaseURL }}">
      <img src="images/logo.svg" alt="Logo">
    </a>
    <div class="navigation-links">
      <div class="tabs">
        <ul class="links body-2">
          <li class="active cursor-pointer" onclick="showTab(this)" data-tab="network">
            <a type="button">Network</a>
          </li>
          <li class="body-2 cursor-pointer" onclick="showTab(this)" data-tab="team">
              <a type="button">Team</a>
          </li>
          <li class="body-2">
            <a type="button" href="https://docs.hashed.network/">Documentation</a>
          </li>
        </ul>
      </div>
      <a class="menu" onclick="showSidebar()">
        <img src="icons/menu.svg" alt="Menu icon">
      </a>
    </div>
  </nav>
</header>

<aside class="header-mobile">
  <div class="text-right">
    <a class="close" onclick="hideSidebar()">
      <img src="icons/close.svg" alt="Close icon">
    </a>
  </div>
  <div class="tabs">
    <ul class="mobile-links">
      <li class="active body-2 text-grey cursor-pointer" onclick="showTab(this)" data-tab="network">
        <a type="button">
          Network
        </a>
      </li>
      <li class="body-2 text-grey cursor-pointer" onclick="showTab(this)" data-tab="team">
        <a type="button">
          Team
        </a>
      </li>
      <li class="body-2 text-grey">
        <a type="button" href="https://docs.hashed.network/">Documentation</a>
      </li>
    </ul>
  </div>
  <ul class="header-social">
    {{ range .Site.Menus.social -}}
        <li>
            <a target="_blank" rel="noopener noreferrer" href="{{ .URL | absURL }}">
                <img src="{{ .Params.icon | absURL }}" alt="{{ .Name }}">
            </a>
        </li>
    {{ end -}}
  </ul>
</aside>